
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(pageTitle='Login', content=~{::content})}">
<head>
    <title>Login</title>
</head>
<body>
<!-- Inside <body> -->
<div class="content-container" th:fragment="content">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Login</h1>
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Sorry, invalid credentials. Please try again.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been successfully logged out.
            </div>
            <form th:action="@{/perform_login}" method="post" autocomplete="off">
                <div class="form-group">
                    <label for="username">Email address</label>
                    <input type="text" class="form-control" id="username" name="username"
                           placeholder="Enter email" required autocomplete="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Password" required autocomplete="current-password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
